/tmp
/modules
/lib
/test-result
/logs
/nbproject
/.settings
/.metadata
/.classpath
/.project
/eclipse
/logs
/.sublime-project
/.sublime-workspace
/.livereload
/.bat
/SyncToy_4d0fce05-43a9-4365-808b-4c3fea8b04b0.dat