#{extends 'CRUD/layout.html' /} 
#{set title:messages.get('admin.generalStats') /}


<div>

	<h2>&{'admin.generalStats'}</h2>

	
	<form action="@{stats.StatisticsManager.saveParameters()}" method="GET">
		<table style="width: auto;">
			<thead>
				<tr>
					<th>&{'manageParameters.params'}</th>
					<th>&{'manageParameters.values'}</th>
					<th>&{'manageParameters.explan'}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&{'manageParameters.length_top.title'}</td>
					<td><input type="text" name="newLengthTop" value="${config.getLengthTop()}" size="5" style="text-align: right;"/> </td>
					<td style="color:#777"><em>&{'manageParameters.length_top.legend', config.MIN_LENGTH, config.MAX_LENGTH }</em></td>
				</tr>
				<tr>
				</tr>
					<td></td>
					<td colspan="2"><span class="error" style="color:#c00">#{error 'newLengthTop' /}</span></td>
				</tr>
				<tr>
					<td>&{'manageParameters.min_participation_percentage.title'}</td>
					<td><input type="text" name="newMinPercentage" value="${config.getMinPercentageParticipations()}" size="5" style="text-align: right;" /> </td>
					<td style="color:#777"><em>&{'manageParameters.min_participation_percentage.legend', config.MIN_PERCENTAGE, config.MAX_PERCENTAGE }</em></td>
				</tr>
				</tr>
					<td></td>
					<td colspan="2"><span class="error" style="color:#c00">#{error 'newMinPercentage' /}</span></td>
				</tr>
				<tr>
					<td>&{'manageParameters.min_maps.title'}</td>
					<td><input type="text" name="newEpicFail" value="${config.getMinNumberMapsForEpicFail()}"  size="5" style="text-align: right;" /> </td>
					<td style="color:#777"><em>&{'manageParameters.min_maps.legend', config.MIN_EPICFAIL, config.MAX_EPICFAIL}</em></td>
				</tr>
				</tr>
					<td></td>
					<td colspan="2"><span class="error" style="color:#c00">#{error 'newEpicFail' /}</span></td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="submit" value="&{'manageParameters.validate'}"/>
						<input type="reset" value="&{'manageParameters.reset'}" /></form>
						<a href="/admin"><button style="text-decoration: none;">&{'manageParameters.cancel'}</button></a>
					</td>
				</tr>
			</tbody>
		</table>

</div>