body {
	margin: 30px 0 0 0;
	padding: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	background: #5B5B5B url(img/bg.gif) top repeat-x;
}


h1, h2, h3, h4, h5, h6 { color: #ffde88; font-weight: normal }
h1 { font-size: 26px; margin: 0 0 20px 0; padding: 5px 0; }
h2 { font-size: 21px; margin: 0 0 15px; padding: 0; }
h3 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 5px; padding: 0; }
h6 { font-size: 12px; margin: 0 0 3px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

ul, li {
	padding: 0;
	margin: 0;
}

a{
	color: #FFDE88;
	text-decoration: none;
}

table{
	border-spacing: 0;
	overflow: hidden;
}

th,td{
	padding: 8px 2px 8px 2px;
	text-align: center;
}

th{
	line-height: 15px;
	vertical-align: middle;
	color: black;
	background-color: #9DAFB0;
	border-bottom: 1px solid black;
}

td{
	line-height: 10px;
	vertical-align: middle;
	color: #FEFADC;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

/***********************************
*             HEADER               *
***********************************/

#header {
	width: 960px;
	height: 85px;
	padding: 10px 0 20px 0;
}

#logo { 
	float: left; 
	background: url(img/logo.png) top no-repeat;
	width: 170px;
	height: 85px;
}
#logo h1 { margin: 0; padding: 0 }
#logo h1 a {
	display: block;
	text-decoration: none;
}

#menu { position:relative; float:right; width: 760px; height: 40px; margin: 60px 0 0 0; }
#menu ul { position:absolute; padding: 0; margin: 0; list-style: none; z-index:2; top: 0; right: 50px; }
#menu ul li { 
	float:left;
	margin: 0 0 0 50px;
	padding: 0;
	text-align: center;	

}
#menu ul li a {
	font-size: 18px;	
	color: #fefadc;
	text-decoration: none;
}

#menu #box { position:absolute; z-index: 1; }
#menu #box .barre {
	background: url(img/menu_hover.png) center bottom no-repeat;
	height: 35px;
}

/***********************************
*             CONTENT              *
***********************************/

#content_top {
	clear: both;
	width: 900px;
	height: 81px;
	padding: 0 30px;
    background:	url(img/content_top.jpg) no-repeat top center
}

#content_top ul {
	float:left;
	height: 56px;
	margin: 0;
	padding: 25px 0 0 0;
	list-style: none;
}

#content_top ul li {
	padding: 0;
	margin: 0;
}

#content_top ul li a {
	height: 56px;
	padding: 0 20px;
	margin-right: 1px;
	font-size: 14px;
	color: #b1b1b1;	
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}

#content_top ul li a span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #fefadc;
	padding: 0 20px;
	text-align: center;
}

#content_top ul li a:hover, #content_top ul .current {
	color: #f39400;
}

#main {
	width: 900px;
	padding: 0 30px;
    background:	url(img/main.jpg) repeat-y;
}

.separator {
	height: 6px;
	background: url(img/content_separator.jpg) top left repeat-x;
}

#content {
	padding: 10px 30px;
}

.content_left{
	float: left;
	display: block;
	width: 40%;
}

.content_right{
	float: right;
	width: 60%;
}

.content_box {
	margin-bottom: 30px;
}

.content_box table,
.raceresult table,
.ktlcs_box table,
.players_box table,
.player_box table {
	background-color: #484742;
}

.content_box table,
.raceresult table{
	margin: 0 auto;
}

.ktlcs_box table{
	width: 100%;
}

.content_box td,
.raceresult td,
.ktlcs_box td,
.players_box td,
.player_box td{
	line-height: 10px;
	vertical-align: middle;
	color: #FEFADC;
}

.players_box td{
	text-align: left;
	padding-left: 20px;
	min-width: 200px;
	line-height: 10px;
}

.player_box td {
	min-width: 100px;
}

.ktlcs_box td:last-child{
	text-align: left;
	padding-left: 15px;
}

.content_box tr:nth-child(odd),
.raceresult tr:nth-child(odd),
.ktlcs_box tr:nth-child(odd),
.players_box tr:nth-child(odd),
.player_box tr:nth-child(odd){
	background-color: #3D3B37;
}

.content_box td:nth-child(2),
.raceresult td:nth-child(2){
	text-align: left;
	min-width: 72px;
}

.players_box p{
	padding: 0;
	margin:0;
}

.content_podium{
	float: left;
	margin: 30px 0;
	color: #FEFADC;
	width: 300px;
}

.content_podium .player{
	width: 95px;
	display: inline;
	float:left;
	font-weight: bold;
	position: relative;
	height: 45px;
}

.content_podium .player:first-child{
	width: 300px;
	padding-left: 125px;
}

.content_podium .player:nth-child(2){
	padding-left: 55px;
}

.content_podium .player:last-child{
	padding-top: 20px;
	padding-left: 55px;
}

.content_podium .player:before{
	content: "";
	display: block;
	position: absolute;
	width: 45px;
	max-height: 45px;
	height: 100%;
}

.content_podium .player:first-child:before{
	top: -15px;
	left: 75px;
	background: url(img/tropheegold.png) no-repeat;
}

.content_podium .player:nth-child(2):before{
	top: -15px;
	left: 5px;
	background: url(img/tropheesilver.png) no-repeat;
}

.content_podium .player:last-child:before{
	top: 5px;
	left: 5px;
	background: url(img/tropheebronze.png) no-repeat;
}

.content_map table{
	background-color: #484742;
}

.content_map tr{
	padding: 10px 0px;
	height: 55px;
}

.content_map tr:nth-child(odd){
	background-color: #3D3B37;
}

.content_map td{
	text-align: left;
	padding: 0;
	line-height: 15px;
}

.content_map td:nth-child(2){
	padding-left: 15px;
	padding-right: 15px;
}

.content_map td:last-child{
	font-weight: bold;
	padding-left: 15px;
	padding-right: 10px;
}

.content_map td.canyon{
	width:80px;
	background: url(img/Canyon.png) no-repeat center;
}

.content_map td.stadium{
	width:80px;
	background: url(img/Stadium.png) no-repeat center;
}

.content_map td.rally{
	width:80px;
	background: url(img/Rally.png) no-repeat center;
}

.content_map td.alpine{
	width:80px;
	background: url(img/Snow.png) no-repeat center;
}

.content_map td.coast{
	width:80px;
	background: url(img/Coast.png) no-repeat center;
}

.content_map td.bay{
	width:80px;
	background: url(img/Bay.png) no-repeat center;
}

.content_map td.island{
	width:80px;
	background: url(img/Island.png) no-repeat center;
}

.content_map td.speed{
	width:80px;
	background: url(img/Desert.png) no-repeat center;
}

#race{
	width: 900px;
}

/**********************/
/*** Slider Content ***/
.scroll-container { margin: 0 auto; }

.scroll-content{ width:900px; overflow:hidden; }

.content-holder { width: 1479px; }

.scroll-slider{ width:900px; height:6px; background:#ccc; position:relative; cursor:pointer }

.ui-slider .ui-slider-handle{ width:16px; height:12px; position:absolute; top:-3px; background:#f39400; border:1px solid black; }

/*** Fin Slider Content ***/
/**************************/

.race_content { float:left; margin: 20px 3px 0; display: table-cell; }

.racemap {
	display:inline-block;
	width: 219px;
	margin: 5px 0;
	color: #aaa;
	background: transparent url(img/list.jpg) no-repeat scroll 0 5px;
}

.racemap ul {
	display: inline;
	padding: 0;
	height: 20px;
}

.racemap ul li {
	padding: 0 10px;
	list-style: none;
}

.raceresult {
	clear: both;
}

.raceresult ul {
	width: 197px;
	float: left;
	display: block;
	margin: 0;
	padding: 0 2px;
}

.raceresult ul li{
	list-style: none;
	display: inline-block;
	color: #fefadc;
	padding: 0;
	margin: 0;
}

.raceresult ul li.rank {
	width: 35px;
}

.raceresult ul li.score {
	width: 35px;
	text-align: center;
}

.raceresult ul li.round {
	width: 41px;
	text-align: center;
}

.raceresult ul li.player {
	width: 74px;
}

/***********************************
*             STATS                *
***********************************/
#content_generalStats td {
	text-align: left;
}

/***********************************
*             FOOTER               *
***********************************/

#footer_wrapper { width: 100%; }

#footer {
		width: 900px;
		text-align: center;
		margin: 0 auto;
		padding: 40px 30px 20px;
		color: #fff;
		background: url(img/footer_top.jpg) top center no-repeat;
}
	
#footer a { color: #f39400 }