#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['number', 'date']}
            #{crud.custom 'date'}
            ${object.date.format()}
            #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p>Import d'une édition KTLC</p>

    #{form @KTLCEditions.importKTLC()}
    <p>
        <label for="number">Numéro : </label>
        <input type="text" name="number" id="number" value="${flash.number}" />
        <span class="error">#{error 'number' /}</span>
    </p>
    <p>
        <label for="date">Date (${play.libs.I18N.getDateFormat()}) : </label>
        <input type="text" name="date" id="date" value="${flash.date}" />
        <span class="error">#{error 'date' /}</span>
    </p>
    <p>
        <label for="url">URL log FAST : </label>
        <input type="text" name="url" id="url" size="50" value="${flash.url}" />
        <span class="error">#{error 'url' /}</span>
    </p>
    <p>
        <input type="submit" value="importer" />
    </p>

    #{/form}

</div>
