#{extends 'main.html' /}
#{set title:messages.get('title.ktlc', ktlc?.number) /}
#{set page:'ktlc' /}

<script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/slider.js'}" type="text/javascript" charset="${_response_encoding}"></script>

#{if ktlc}
<div id="content_top">
    <ul>
        <li>#{a @Application.ktlc(ktlc.number)}&{'ktlc.number', ktlc.number} <span>${ktlc.date.format()}</span>#{/a}</li>
    </ul>
</div>
<div id="main">
    <div class="map">
        #{list ktlc.races, as:'race'}
        <ul>
            <li>${race.map.name}</li>
            <li><strong>${race.map.author.name}</strong></li>
            <li>${race.map.environment}</li>
        </ul>
        #{/list}
    </div>
    <div class="separator"></div>
    <div id="content">
        <div class="content_box">
            <ul class="menu home">
                <li class="rank menu home">&{'player.rank'}</li>
                <li class="player menu home">&{'player'}</li>
                <li class="score menu home">&{'player.score'}</li>
                <li class="race menu home">&{'player.nbraces'}</li>
            </ul>
            #{list ktlc.results, as:'result'}
            <ul class="home">
                <li class="rank">${result.rank}</li>
                <li class="player">#{a @Application.player(result.player.login)}${result.player.name}#{/a}</li>
                <li class="score">${result.score}</li>
                <li class="race">${result.nbRaces}</li>
            </ul>
            #{/list}
        </div>
    </div>
    <div class="cleaner"></div>
    <div id="race">
        <div class="scroll-container">
            <div class="scroll-slider"></div> 
            <div class="scroll-content">
                <div class="content-holder">
                    #{list items:ktlc.races, as:'race'}
                    <div class="race_content">
                        <div class="racemap">
                            <ul>
                                <li>${race.map.name}</li>
                                <li><strong>${race.map.author.name}</strong></li>
                                <li>${race.map.environment}</li>
                            </ul>
                        </div>
                        <div class="raceresult">
                            <ul class="menu">
                                <li class="menu rank">&{'player.rank'}</li>
                                <li class="menu player">&{'player'}</li>
                                <li class="menu score">&{'player.score'}</li>
                                <li class="menu round">&{'player.rounds'}</li>
                            </ul>
                            #{list race.results, as:'result'}
                            <ul>
                                <li class="rank">${result.rank}</li>
                                <li class="player">#{a @Application.player(result.player.login)}${result.player.name}#{/a}</li>
                                <li class="score">${result.score}</li>
                                <li class="round">${result.roundsCount}</li>
                            </ul>
                            #{/list}
                        </div>
                    </div>
                    #{/list}
                </div>
            </div>
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noktlc'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box">
            &{'error.wrongktlc'}
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/else}