#{extends 'main.html' /}
#{set title:messages.get('title.default') /}
#{set page:'ktlc' /}

#{if ktlcs.size()}
<div id="content_top">
    <ul>
        <li><h1><a>&{'main.ktlcs'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box">
            <ul class="menu ktlcs">
                <li class="ktlcnbr menu ktlcs">&{'ktlc.number.title'}</li>
                <li class="date menu ktlcs">&{'ktlc.date'}</li>
                <li class="size menu ktlcs">&{'ktlc.size'}</li>
                <li class="podium menu ktlcs">Podium</li>
            </ul>
            #{list items:ktlcs, as:'ktlc'}
            <ul class="ktlcs">
                <li class="ktlcnbr">#{a @Application.ktlc(ktlc.number)}&{'ktlc.number', ktlc.number}#{/a}</li>
                <li class="date">${ktlc.date.format()}</li>
                <li class="size">${ktlc.results.size()}</li>
                <li class="podium">
                #{list items:ktlc.results, as:'result'}
                #{if result_index <= 3}
                    <strong>${result.rank}|</strong> ${result.login.player.name}&nbsp;&nbsp;&nbsp;
                #{/if}
                #{/list}
                </li>
            </ul>
            #{/list}
            #{else}
                &{'error.noktlc'}
            #{/else}
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noktlc'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box" ></div>
    </div>
    <div class="cleaner" ></div>
</div>
#{/else}