#{extends 'main.html' /}
#{set title:messages.get('title.default') /}
#{set page:'ktlc' /}

#{if ktlcs.size()}
<div id="content_top">
    <ul>
        <li><h1><a>&{'main.ktlcs'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="ktlcs_box">
            <table>
                <tr>
                    <th>&{'ktlc.number.title'}</th>
                    <th>&{'ktlc.date'}</th>
                    <th>&{'ktlc.size'}</th>
                    <th>Podium</th>
                </tr>
                #{list items:ktlcs, as:'ktlc'}
                <tr>
                    <td>#{a @Application.ktlc(ktlc.number)}&{'ktlc.number', ktlc.number}#{/a}</td>
                    <td>${ktlc.date.format()}</td>
                    <td>${ktlc.results.size()}</td>
                    <td>
                        #{list items:ktlc.results, as:'result'}
                        #{if result_index <= 3}
                            <strong>${result.rank}|</strong> ${result.login.player.name}&nbsp;&nbsp;&nbsp;
                        #{/if}
                        #{/list}
                    </td>
                </tr>
                #{/list}
                #{else}
                    &{'error.noktlc'}
                #{/else}
            </table>
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noktlc'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box" ></div>
    </div>
    <div class="cleaner" ></div>
</div>
#{/else}