#{extends 'main.html' /}
#{set title:messages.get('title.ktlc', ktlc?.number) /}
#{set page:'ktlc' /}

<script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.isotope.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>


#{if ktlc}
<div id="content_top">
	<div class="left_top">
		#{if prevKTLC}
		#{a @Application.ktlc(prevKTLC.number)}<img src="@{'/public/stylesheets/img/nav_previous.png'}" alt="&{'ktlc.prev'}" />#{/a}
		#{/if}
	</div>
	<div class="middle_top">
	    <ul>
	        <li>#{a @Application.ktlc(ktlc.number)}&{'ktlc.number', ktlc.number}
	            <span>${ktlc.date.format()} - &{'ktlc.nbparticipants',ktlc.results.size()}</span>#{/a}
	        </li>
	    </ul>
    </div>
    <div class="right_top">
    	#{if nextKTLC}
    	#{a @Application.ktlc(nextKTLC.number)}<img src="@{'/public/stylesheets/img/nav_next.png'}" alt="&{'ktlc.next'}" />#{/a}
    	#{/if}
    </div>
    <div class="cleaner"></div>
</div>
<div id="main">
    <div id="content">
        <div class="content_left">
            <div class="content_podium">
                #{list ktlc.results, as:'result'}
                #{if result_index <= 3}
                <div class="player">${result.login.player.name}</div>
                #{/if}
                #{/list}
            </div>
            <div class="cleaner"></div>
            <div class="content_map">
                <table>
                    #{list ktlc.races, as:'race'}
                    <tr>
                        <td class="${race.map.environment}"></td>
                        <td>${race.map.name}</td>
                        <td>${race.map.login.player.name}</td>
                    </tr>
                    #{/list}
                </table>
            </div>
        </div>
        <div class="content_right">
            <div class="content_box">
                <table>
                    <tr>
                        <th>&{'player.rank'}</th>
                        <th>&{'player'}</th>
                        <th>&{'player.score'}</th>
                        <th>&{'player.nbraces'}</th>
                    </tr>
                    #{list ktlc.results, as:'result'}
                    <tr>
                        <td>${result.rank}</td>
                        <td>#{a @Application.player(result.login)}${result.login.player.name}#{/a}</td>
                        <td>${result.score}</td>
                        <td>${result.nbRaces}</td>
                    </tr>
                    #{/list}
                </table>
            </div>
        </div>
    </div>
    <div class="cleaner"></div>
    <div id="race">
        #{list items:ktlc.races, as:'race'}
        <div class="race_content">
            <div class="racemap">
                <ul>
                    <li>${race.map.name}</li>
                    <li class="sortname"><strong>${race.map.login.player.name}</strong></li>
                    <li>${race.map.environment}</li>
                </ul>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner"></div>
            <div class="raceresult">
                <table>
                    <tr>
                        <th>&{'player.rank'}</th>
                        <th>&{'player'}</th>
                        <th>&{'player.score'}</th>
                        <th>&{'player.rounds'}</th>
                    </tr>
                    #{list race.results, as:'result'}
                    <tr>
                        <td>${result.rank}</td>
                        <td>#{a @Application.player(result.login)}${result.login.player.name}#{/a}</td>
                        <td>${result.score}</td>
                        <td>${result.roundsCount}</td>
                    </tr>
                    #{/list}
                </table>
            </div>
        </div>
        #{/list}
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noktlc'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box">
            &{'error.wrongktlc'}
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/else}
<script src="@{'/public/javascripts/isotope.js'}" type="text/javascript" charset="${_response_encoding}"></script>