#{extends 'main.html' /}
#{set title:messages.get('title.players') /}
#{set page:'player' /}

#{set 'moreScripts'}
    <script type="text/javascript">
        function clickclear(thisfield, defaulttext) {
        	if (thisfield.value == defaulttext) {
        		thisfield.value = "";
        	}
        }
       	function clickrecall(thisfield, defaulttext) {
        	if (thisfield.value == "") {
        		thisfield.value = defaulttext;
        	}
       	}
    </script>
#{/set}

<div id="content_top">
    <ul>
        <li><h1><a>#{if players}&{'main.players'}#{/if}#{else}&{'error.noplayer'}#{/else}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
    	<div id="search_box">
    		<form action="@{Application.searchPlayers()}" method="GET">
    			<table>
    				<tr>
    					<td>&{'search.player.searchPlayer'}</td>
    					<td>
    						<input type="text" name="term" size="30" 
	    						value="${ term ? term : messages.get('search.player.playerOrLogin')}" 
	    						onclick="clickclear(this, '&{'search.player.playerOrLogin'}')" 
	    						onblur="clickrecall(this, '&{'search.player.playerOrLogin'}')" />
    					</td>
    					<td><input type="submit" value="&{'search.search'}"></td>
    					#{if errors}<td><span class="error">#{error 'term' /}</span></td>#{/if}
   					</tr>
    			</table>
    		</form>
    	</div>
    	
    	<div class="cleaner"></div>
    	
        <div class="players_box">
        	#{if players}
        	#{paginate.controls items:players /}
            <table>
                <tr>
                    <th>&{'player'}</th>
                    <th>&{'player.login'}</th>
                    <th>&{'player.categories'}</th>
                </tr>
                #{paginate.list items:players, as:'player'}
                <tr>
                    <td>#{a @Application.player(player.logins[0])}${player.name}#{/a}</td>
                    <td>
                        #{list items:player.logins, as:'login'}
                        <p>${login}</p>
                        #{if !login_isLast}<br/>#{/if}
                        #{/list}
                    </td>
                    <td>
                    	#{if player.isMapper()}&{'player'} / &{'player.mapper'}#{/if}
                   		#{else}&{'player'}#{/else}
                    </td>
                </tr>
                #{/paginate.list}
            </table>
            #{paginate.summary items:players /}
            #{/if}
        </div>
        
        <div class="cleaner"></div>
        <div class="statsSpace_small"></div>
        
        #{if term}
        <div class="link_button">
        	<a href="@{Application.players()}">&{'search.player.backToPlayers'}</a>
        </div>
        #{/if}
    </div>
    <div class="cleaner"></div>
</div>