#{extends 'main.html' /}
#{set title:messages.get('title.players') /}
#{set page:'player' /}

#{if players.size()}
<div id="content_top">
    <ul>
        <li><h1><a>&{'main.players'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box">
            <ul class="menu players">
                <li class="menu player">&{'player'}</li>
                <li class="menu player">&{'player.login'}</li>
            </ul>
            #{list items:players, as:'player'}
            <ul class="players">
                <li class="player">#{a @Application.player(player.logins[0])}${player.name}#{/a}</li>
                <li class="player">
                    #{list items:player.logins, as:'login'}
                    ${login}
                    #{if !login_isLast}<br/>#{/if}
                    #{/list}
                </li>
            </ul>
            #{/list}
            #{else}
                &{'error.noplayer'}
            #{/else}
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}
#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noplayer'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box" ></div>
    </div>
        <div class="cleaner" ></div>
</div>
#{/else}