#{extends 'main.html' /}
#{set title:messages.get('title.players') /}
#{set page:'player' /}

#{if players.size()}
<div id="content_top">
    <ul>
        <li><h1><a>&{'main.players'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="players_box">
            <table>
                <tr>
                    <th>&{'player'}</th>
                    <th>&{'player.login'}</th>
                </tr>
                #{list items:players, as:'player'}
                #{if player.logins}
                <tr>
                    <td>#{a @Application.player(player.logins[0])}${player.name}#{/a}</td>
                    <td>
                        #{list items:player.logins, as:'login'}
                        <p>${login}</p>
                        #{if !login_isLast}<br/>#{/if}
                        #{/list}
                    </td>
                </tr>
                #{/if}
                #{/list}
                #{else}
                &{'error.noplayer'}
                #{/else}
            </table>
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noplayer'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box" ></div>
    </div>
    <div class="cleaner" ></div>
</div>
#{/else}