#{extends 'main.html' /}
#{set title:messages.get('title.stats') /}
#{set page:'stats' /}

<div id="content_top">
    <ul>
        <li><h1><a>&{'main.stats'}</a></h1></li>
    </ul>
</div>

<div id="main">
    <div id="content">
    	<h1>General (I18N)</h1>
        <p>Number of KTLC editions: (I18N)</p>
        <p>Total number of players: (I18N)</p>
        <p>Average number of players by KTLC: (I18N)</p>
        <p>Total number of played maps: (I18N)</p>
        <p>Total number of runs: (I18N)</p>
        
        <h1>Maps / Enviro (I18N)</h1>
        <p>graphs (I18N)</p>
        
        <h1>Hall of Fame (I18N)</h1>
        <p>?</p>
        
        <h1>Hall of Shame (I18N)</h1>
        <p>?</p>
    </div>
    <div class="cleaner"></div>
</div>