#{extends 'main.html' /}
#{set title:messages.get('title.stats') /}
#{set page:'statistics' /}

#{if statistics}
#{set 'moreScripts'}
    <script type="text/javascript">
    	var chartEnviroData = [
			#{list items:statistics.chart_numberMapsByEnviro.keySet(), as:'enviro'}
				{ enviro: "${enviro.capFirst()}", maps: ${statistics.chart_numberMapsByEnviro.get(enviro)} },
			#{/list}
		];
    	
    	var chartPlayersData = [
  			#{list items:statistics.ktlcs, as:'ktlc'}
  				{ ktlc: "${ktlc.number}", numberPlayer: ${ktlc.results.size()} },
  			#{/list}
  		];        	
    	
    	function compareEnviro(a,b) {
       	  if (a.maps > b.maps)
       	     return -1;
       	  if (a.maps < b.maps)
       	    return 1;
       	  return 0;
       	}
    	chartEnviroData.sort(compareEnviro);
    	
		var chartEnviro;
		var chartPlayers;

		AmCharts.ready(function () {
			// CHART PARTICIPATION -----------------------------------------------------------------
			chartPlayers = new AmCharts.AmSerialChart();
            
			chartPlayers.pathToImages = "@{'/public/images/amcharts/'}/";
			chartPlayers.panEventsEnabled = true;
        	chartPlayers.dataProvider = chartPlayersData;
        	chartPlayers.categoryField = "ktlc";
            chartPlayers.color = "#FEFADC";
            chartPlayers.zoomOutButton = {
                 backgroundColor: "#C37700",
                 backgroundAlpha: 0.5
            };
            chartPlayers.marginTop = 0;
            chartPlayers.marginBottom = 0;
            
         	// listen for "dataUpdated" event (fired when chart is inited) and call zoomChart method when it happens
            chartPlayers.addListener("dataUpdated", zoomChart);
			
			// Graph
	        var graphPlayers = new AmCharts.AmGraph();
	        graphPlayers.balloonText = "[[value]] players (I18N)";
	        graphPlayers.valueField = "numberPlayer";
	        graphPlayers.type = "line";
	        graphPlayers.lineAlpha = 1;
	        graphPlayers.lineThickness = 1;
	        graphPlayers.lineColor = "#C37700";
	        graphPlayers.bullet = "round";
	        graphPlayers.bulletSize = 5;
	        
	        chartPlayers.addGraph(graphPlayers);
	        
	     	// Axes
            // value                
            var valuePlayersAxis = new AmCharts.ValueAxis();
            valuePlayersAxis.minimum = 0;
            chartPlayers.addValueAxis(valuePlayersAxis);
            
         	// Cursor
            var chartPlayerCursor = new AmCharts.ChartCursor();
            chartPlayerCursor.cursorAlpha = 0;
            chartPlayerCursor.cursorPosition = "middle";
            chartPlayers.addChartCursor(chartPlayerCursor);
            
         	// scrollbar
            var chartScrollbar = new AmCharts.ChartScrollbar();
            chartScrollbar.graph = graphPlayers;
            chartScrollbar.scrollbarHeight = 35;
            chartScrollbar.autoGridCount = false;
            chartScrollbar.hideResizeGrips = true;
            chartScrollbar.backgroundAlpha = 0;
            chartScrollbar.selectedBackgroundColor = "#C37700";
            chartScrollbar.selectedBackgroundAlpha = 0.5;
            chartScrollbar.graphFillColor = "#444444";
            chartScrollbar.graphFillAlpha = 1;
            chartPlayers.addChartScrollbar(chartScrollbar);
            
            chartPlayers.zoomToIndexes(chartPlayersData.length - 15, chartPlayersData.length - 1);
	
            chartPlayers.write('chartContainerPlayers');
	            
        	// CHART ENVIRONMENT -------------------------------------------------------------------
        	chartEnviro = new AmCharts.AmSerialChart();
            
        	chartEnviro.dataProvider = chartEnviroData;
        	chartEnviro.categoryField = "enviro";
        	chartEnviro.rotate= true;
        	chartEnviro.color = "#FEFADC";
        	chartEnviro.columnWidth = 0.5;
        	chartEnviro.marginTop = 0;
            chartEnviro.marginBottom = 0;
			
			// Graph
	        var graphEnviro = new AmCharts.AmGraph();
	        graphEnviro.balloonText = "[[value]] maps";
	        graphEnviro.valueField = "maps";
	        graphEnviro.type = "column";
	        graphEnviro.lineAlpha = 0;
	        graphEnviro.fillAlphas = 1;
	        graphEnviro.fillColors = "#C37700";
	        
	        chartEnviro.addGraph(graphEnviro);
	        
	     	// Axes
            // value                
            var valueEnviroAxis = new AmCharts.ValueAxis();
            valueEnviroAxis.minimum = 0;
            chartEnviro.addValueAxis(valueEnviroAxis);
            
         	// Cursor
            var chartEnviroCursor = new AmCharts.ChartCursor();
            chartEnviroCursor.cursorPosition = "middle";
            chartEnviroCursor.categoryBalloonEnabled = false;
            chartEnviro.addChartCursor(chartEnviroCursor);
	
            chartEnviro.write('chartContainerEnviro');
		});
	    
	 	// this method is called when chart is first inited as we listen for "dataUpdated" event
        function zoomChart() {
            // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
            chartPlayers.zoomToIndexes(chartPlayersData.length - 15, chartPlayersData.length - 1);
        }
	</script>
#{/set}
<div id="content_top">
    <ul>
        <li><h1><a>&{'main.stats'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
    	<div id="bg_stats"></div>
    	<div class="cleaner"></div>
    	
    	<div class="content_generalStats">
	    	<h1>&{'stats.title_generalStats'}</h1>
	    	<div class="measures_list">
                <table>
                    <tr>
                        <th>&{'stats.measures'}</th>
                        <th class="spacer_left">&{'stats.values'}</th>
                    </tr>
                    <tr>
		    			<td>&{'stats.totalKTLCs'}</td>
		    			<td class="spacer_left">${statistics.stats_numberKTLCs}</td>
		    		</tr>
		    		<tr>
		    			<td class="details">&{'stats.totalKTLC_TMU'}</td>
		    			<td class="spacer_left">${statistics.stats_numberKTLC_TMU} (${statistics.stats_numberSuperKTLC_TMU})</td>
		    		</tr>
		    		<tr>
		    			<td class="details">&{'stats.totalKTLC_TM2'}</td>
		    			<td class="spacer_left">${statistics.stats_numberKTLC_TM2}</td>
		    		</tr>
		    		<tr>
		    			<td>&{'stats.totalPlayers'}</td>
		    			<td class="spacer_left">${statistics.stats_numberPlayers.format('#,##0')}</td>
		    		</tr>
		    		<tr>
		    			<td class="details">&{'stats.avgPlayers'}</td>
		    			<td class="spacer_left">${statistics.stats_averageNumberPlayersByKTLC.format('#,##0.00')}</td>
		    		</tr>
		    		<tr>
		    			<td>&{'stats.totalMaps'}</td>
		    			<td class="spacer_left">${statistics.stats_numberMaps.format('#,##0')}</td>
		    		</tr>
		    		<tr>
		    			<td class="details">&{'stats.avgMaps'}</td>
		    			<td class="spacer_left">${statistics.stats_averageNumberMapsByKTLC.format('#,##0.00')}</td>
		    		</tr>
		    		<tr>
		    			<td>&{'stats.totalRuns'}</td>
		    			<td class="spacer_left">${statistics.stats_numberRuns.format('#,##0')}</td>
		    		</tr>
		    		<tr>
	    			<td>&{'stats.biggest'}</td>
	    			<td class="spacer_left">
	    				#{a @Application.ktlc(statistics.biggestKTLC.number)}&{'ktlc.number', statistics.biggestKTLC.number} 
	    				(${statistics.biggestKTLC.date.format()} - &{'ktlc.nbparticipants',statistics.biggestKTLC.results.size()})#{/a}
	    			</td>
		    		</tr>
		    		<tr>
		    			<td>&{'stats.smallest'}</td>
		    			<td class="spacer_left">
		    				#{a @Application.ktlc(statistics.smallestKTLC.number)}&{'ktlc.number', statistics.smallestKTLC.number} 
		    				(${statistics.smallestKTLC.date.format()} - &{'ktlc.nbparticipants',statistics.smallestKTLC.results.size()})#{/a}
		    			</td>
		    		</tr>
		    		<tr>
		    			<td><em>&{'stats.time'}</em></td>
		    			<td class="spacer_left"><em>${statistics.getCreationDate().format('dd MMMM yyyy - hh:mm:ss')}</em></td>
		    		</tr>
               	</table>
	    	</div>
    	</div>
    	
    	<div class="cleaner"></div>
    	<div class="statsSpace"><hr></div>
    	
    	<div class="content_generalStats">
	    	<div class="content_chartLeft">
		    	<h1>&{'stats.title_playerChart'}</h1>
		    	<div id="chartContainerPlayers" style="width: 420px; height: 300px;"></div>
	    	</div>
	        <div class="content_chartRight">
		        <h1>&{'stats.title_enviroChart'}</h1>
		        <div id="chartContainerEnviro" style="width: 420px; height: 300px;"></div>
	        </div>
        </div>
        
        <div class="cleaner"></div>
    	<div class="statsSpace"><hr></div>
    	
    	<div class="content_generalStats">
	        <h1>&{'stats.title_hallOfFame'}</h1>
	        <div class="ranking">
	        
	        	<!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>Number Perfect (I18N)</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>bla bla bla (I18N)</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>Num Perfect (I18N)</th>
		                        <th class="spacer_left">KTLCs (I18N)</th>
		                    </tr>
		                    #{list items:0..statistics.ranking_numberPerfect.size() - 1, as:'i'}
		                    <tr>
		                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberPerfect.get(i).login)}${statistics.ranking_numberPerfect.get(i).player.name}#{/a}</td>
		                        <td>${statistics.ranking_numberPerfect.get(i).value.size()} / ${statistics.ranking_numberPerfect.get(i).participation}</td>
		                        <td class="spacer_left">
		                        	#{list items:0..statistics.ranking_numberPerfect.get(i).value.size() - 1, as:'j'}
		                        	#{a @Application.ktlc(statistics.ranking_numberPerfect.get(i).value.get(j).number)}  #${statistics.ranking_numberPerfect.get(i).value.get(j).number}#{/a}
		                        	#{/list}
		                        </td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
	        
	        	<!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>&{'stats.ranking_activity_title'}</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>&{'stats.ranking_activity_legend', statistics.LENGTH_TOP}</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>&{'stats.ratio'}</th>
		                        <th class="spacer_left">&{'stats.ktlcs'}</th>
		                    </tr>
		                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
		                    <tr>
		                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberParticipation.get(i).login)}${statistics.ranking_numberParticipation.get(i).player.name}#{/a}</td>
		                        <td>${(statistics.ranking_numberParticipation.get(i).ratio*100.0).format('0.00')} %</td>
		                        <td class="spacer_left">${statistics.ranking_numberParticipation.get(i).participation}</td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
		        
		        <!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>&{'stats.ranking_avgRank_title'}</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>&{'stats.ranking_avgRank_legend', statistics.LENGTH_TOP, statistics.MIN_PERCENTAGE_PARTICIPATIONS}</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>&{'stats.averageRank'}</th>
		                        <th class="spacer_left">&{'stats.ktlcs'}</th>
		                    </tr>
		                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
		                    <tr>
		                    	#{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_bestAverageRank.get(i).login)}${statistics.ranking_bestAverageRank.get(i).player.name}#{/a}</td>
		                        <td>${statistics.ranking_bestAverageRank.get(i).value.format('0.00')}</td>
		                        <td class="spacer_left">${statistics.ranking_bestAverageRank.get(i).participation}</td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
		        
		        <!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>&{'stats.ranking_mapper_title'}</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>&{'stats.ranking_mapper_legend', statistics.LENGTH_TOP}</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>&{'stats.maps'}</th>
		                    </tr>
		                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
		                    <tr>
		                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberMaps.get(i).login)}${statistics.ranking_numberMaps.get(i).player.name}#{/a}</td>
		                        <td>${statistics.ranking_numberMaps.get(i).value}</td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
		        
		        <!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>&{'stats.ranking_podiumKTLC_title'}</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>&{'stats.ranking_podiumKTLC_legend', statistics.LENGTH_TOP}</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>&{'stats.total'}</th>
		                        <th class="spacer_right">&{'stats.ratio'}</th>
		                        <th>&{'stats.first'}</th>
		                        <th>&{'stats.second'}</th>
		                        <th>&{'stats.third'}</th>
		                        <th>(&{'stats.fourth'})</th>
		                    </tr>
		                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
		                    <tr>
		                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberPodiumsKTLC.get(i).login)}${statistics.ranking_numberPodiumsKTLC.get(i).player.name}#{/a}</td>
		                        <td><strong>${statistics.ranking_numberPodiumsKTLC.get(i).value[0] + statistics.ranking_numberPodiumsKTLC.get(i).value[1] + statistics.ranking_numberPodiumsKTLC.get(i).value[2]}</strong> / ${statistics.ranking_numberPodiumsKTLC.get(i).participation}</td>
		                        <td class="spacer_right"><em>${(statistics.ranking_numberPodiumsKTLC.get(i).ratio*100.0).format('0.00')} %</em></td>
		                        <td>${statistics.ranking_numberPodiumsKTLC.get(i).value[0]}</td>
		                        <td>${statistics.ranking_numberPodiumsKTLC.get(i).value[1]}</td>
		                        <td>${statistics.ranking_numberPodiumsKTLC.get(i).value[2]}</td>
		                        <td>(${statistics.ranking_numberPodiumsKTLC.get(i).value[3]})</td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
		        
		        <!-- TOP 10 PLAYER -->
		        <div class="ranking_content">		        
		            <div class="ranking_title">
		                <h2>&{'stats.ranking_podiumRace_title'}</h2>
		            </div>
		            <div class="ranking_list">
		                <table>
		                	<caption>&{'stats.ranking_podiumRace_legend', statistics.LENGTH_TOP}</caption>
		                    <tr>
		                        <th>&{'player.rank'}</th>
		                        <th class="spacer_both">&{'player'}</th>
		                        <th>&{'stats.total'}</th>
		                        <th class="spacer_right">&{'stats.ratio'}</th>
		                        <th>&{'stats.first'}</th>
		                        <th>&{'stats.second'}</th>
		                        <th>&{'stats.third'}</th>
		                        <th>(&{'stats.fourth'})</th>
		                    </tr>
		                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
		                    <tr>
		                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
		                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberPodiumsRace.get(i).login)}${statistics.ranking_numberPodiumsRace.get(i).player.name}#{/a}</td>
		                        <td><strong>${statistics.ranking_numberPodiumsRace.get(i).value[0] + statistics.ranking_numberPodiumsRace.get(i).value[1] + statistics.ranking_numberPodiumsRace.get(i).value[2]}</strong> / ${statistics.ranking_numberPodiumsRace.get(i).participation}</td>
		                        <td class="spacer_right"><em>${(statistics.ranking_numberPodiumsRace.get(i).ratio*100.0).format('0.00')} %</em></td>
		                        <td>${statistics.ranking_numberPodiumsRace.get(i).value[0]}</td>
		                        <td>${statistics.ranking_numberPodiumsRace.get(i).value[1]}</td>
		                        <td>${statistics.ranking_numberPodiumsRace.get(i).value[2]}</td>
		                        <td>(${statistics.ranking_numberPodiumsRace.get(i).value[3]})</td>
		                    </tr>
		                    #{/list}
		                </table>
		            </div>
		        </div>
		        <!-- /TOP 10 PLAYER -->
		        
		    </div>
        </div>
        
        <div class="cleaner"></div>
    	<div class="statsSpace"><hr></div>
    	
        <div class="content_generalStats">
	        <h1>&{'stats.title_hallOfShame'}</h1>
	        
	        <!-- TOP 10 PLAYER -->
	        <div class="ranking_content">		        
	            <div class="ranking_title">
	                <h2>Number of last places by KTLC (I18N)</h2>
	            </div>
	            <div class="ranking_list">
	                <table>
	                	<caption>bla bla bla last of the KTLC bla bla bla first eliminated players bla bla bla loosers bla bla bla at least 10%  (I18N)</caption>
	                    <tr>
	                        <th>&{'player.rank'}</th>
	                        <th class="spacer_both">&{'player'}</th>
	                        <th>&{'stats.total'}</th>
	                        <th class="spacer_left">&{'stats.ratio'}</th>
	                    </tr>
	                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
	                    <tr>
	                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
	                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberLastPlaceKTLC.get(i).login)}${statistics.ranking_numberLastPlaceKTLC.get(i).player.name}#{/a}</td>
	                        <td><strong>${statistics.ranking_numberLastPlaceKTLC.get(i).value}</strong> / ${statistics.ranking_numberLastPlaceKTLC.get(i).participation}</td>
	                        <td class="spacer_left"><em>${(statistics.ranking_numberLastPlaceKTLC.get(i).ratio*100.0).format('0.00')} %</em></td>
	                    </tr>
	                    #{/list}
	                </table>
	            </div>
	        </div>
	        <!-- /TOP 10 PLAYER -->
	        
	        <!-- TOP 10 PLAYER -->
	        <div class="ranking_content">		        
	            <div class="ranking_title">
	                <h2>Number of last places by Races (I18N)</h2>
	            </div>
	            <div class="ranking_list">
	                <table>
	                	<caption>bla bla bla last of the Race bla bla bla first eliminated players bla bla bla loosers bla bla bla at least 10%  (I18N)</caption>
	                    <tr>
	                        <th>&{'player.rank'}</th>
	                        <th class="spacer_both">&{'player'}</th>
	                        <th>&{'stats.total'}</th>
	                        <th class="spacer_left">&{'stats.ratio'}</th>
	                    </tr>
	                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
	                    <tr>
	                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
	                        <td class="spacer_both">#{a @Application.player(statistics.ranking_numberLastPlaceRace.get(i).login)}${statistics.ranking_numberLastPlaceRace.get(i).player.name}#{/a}</td>
	                        <td><strong>${statistics.ranking_numberLastPlaceRace.get(i).value}</strong> / ${statistics.ranking_numberLastPlaceRace.get(i).participation}</td>
	                        <td class="spacer_left"><em>${(statistics.ranking_numberLastPlaceRace.get(i).ratio*100.0).format('0.00')} %</em></td>
	                    </tr>
	                    #{/list}
	                </table>
	            </div>
	        </div>
	        <!-- /TOP 10 PLAYER -->
	        
	        <!-- TOP 10 PLAYER -->
	        <div class="ranking_content">		        
	            <div class="ranking_title">
	                <h2>Worst Average Rank (I18N)</h2>
	            </div>
	            <div class="ranking_list">
	                <table>
	                	<caption>bla bla bla 10% worst bla bla bla haha les mauvais (I18N)</caption>
	                    <tr>
	                        <th>&{'player.rank'}</th>
	                        <th class="spacer_both">&{'player'}</th>
	                        <th>&{'stats.averageRank'}</th>
	                        <th class="spacer_left">&{'stats.ktlcs'}</th>
	                    </tr>
	                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
	                    <tr>
	                    	#{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
	                        <td class="spacer_both">#{a @Application.player(statistics.ranking_worstAverageRank.get(i).login)}${statistics.ranking_worstAverageRank.get(i).player.name}#{/a}</td>
	                        <td>${statistics.ranking_worstAverageRank.get(i).value.format('0.00')}</td>
	                        <td class="spacer_left">${statistics.ranking_worstAverageRank.get(i).participation}</td>
	                    </tr>
	                    #{/list}
	                </table>
	            </div>
	        </div>
	        <!-- /TOP 10 PLAYER -->
		        
	        <!-- TOP 10 PLAYER -->
       		<div class="ranking_content">		        
	            <div class="ranking_title">
	                <h2>Violent Maps (I18N)</h2>
	            </div>
	            <div class="ranking_list">
	                <table>
	                	<caption>bla bla bla violent bla bla bla eliminated players bla bla bla loosers  (I18N)</caption>
	                    <tr>
	                        <th>&{'player.rank'}</th>
	                        <th class="spacer_left">&{'stats.map'}</th>
	                        <th class="author_column">&{'stats.author'}</th>
	                        <th class="author_column">&{'stats.enviro'}</th>
	                        <th class="spacer_left">&{'stats.victims'}</th>
	                    </tr>
	                    #{list items:0..statistics.LENGTH_TOP - 1, as:'i'}
	                    <tr>
	                        #{if i < 3 }<td class="podium_${i + 1}"></td>#{/if}#{else}<td>${i + 1}</td>#{/else}
	                        <td class="spacer_left">#{a @Application.ktlc(statistics.ranking_violentMaps.get(i).value.ktlc.number)}${statistics.ranking_violentMaps.get(i).value.map.name}#{/a}</td>
	                        <td class="author_column">#{a @Application.player(statistics.ranking_violentMaps.get(i).login)}${statistics.ranking_violentMaps.get(i).player.name}#{/a}</td>
	                        <td class="author_column">${(statistics.ranking_violentMaps.get(i).value.map.environment).capFirst()}</td>
	                        <td class="spacer_left"><strong>${statistics.ranking_violentMaps.get(i).participation}</strong> / ${statistics.ranking_violentMaps.get(i).value.results.size()}</td>
	                    </tr>
	                    #{/list}
	                </table>
	            </div>
	        </div>
	        <!-- /TOP 10 PLAYER -->
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/if}

#{else}
<div id="content_top">
    <ul>
        <li><h1><a>&{'error.noStats'}</a></h1></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="content_box">
            &{'error.wrongStats'}
        </div>
    </div>
    <div class="cleaner"></div>
</div>
#{/else}