<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo"></div>
                <div id="menu">
                    <ul>
                        #{if page == 'home' }
                            <li><a href="@{Application.index()}" class="current">&{'main.home'}</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Application.index()}">&{'main.home'}</a></li>
                        #{/else}
                        #{if page == 'ktlc' }
                            <li><a href="@{Application.ktlcs()}" class="current">&{'main.ktlcs'}</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Application.ktlcs()}">&{'main.ktlcs'}</a></li>
                        #{/else}
                        #{if page == 'player' }
                            <li><a href="@{Application.players()}" class="current">&{'main.players'}</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Application.players()}">&{'main.players'}</a></li>
                        #{/else}
                        <li><a href="http://forum.lsd-team.net">&{'main.forum'}</a></li>
                    </ul>
                </div>
            </div>
            #{doLayout /}
        </div>
        <div id="footer_wrapper">
            <div id="footer">
                <a href="@{Application.index()}">&{'main.home'}</a> | <a href="@{Application.ktlcs()}">&{'main.ktlcs'}</a> | <a href="@{Application.players()}">&{'main.players'}</a> | <a href="http://forum.lsd-team.net">&{'main.forum'}</a> | <a href="@{CRUD.index()}">&{'main.admin'}</a>
                <div class="cleaner h10"></div>
                Copyright © 2011 <a href="http://www.lsd-team.net">lsd-team.net</a>
                <div class="cleaner"></div>
            </div>
        </div>
    </body>
</html>
