<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.easing.1.3.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/amcharts.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                
                var effet = 'easeOutElastic';
                var default_left = Math.round($('#menu li.current').offset().left - $('#menu').offset().left);
                var default_width = $('#menu li.current').width();

                $('#box').css({left : default_left});
                $('#box .barre').css({width : default_width});

                $('#menu li').hover(function() {
                   left = Math.round($(this).offset().left - $('#menu').offset().left);
                   width = $(this).width();

                   $('#box').stop().animate({left: left}, {duration:1000, easing:effet});
                   $('#box .barre').stop().animate({width: width}, {duration:1000, easing:effet});
                });

                $('#menu li').mouseleave(function() {
                   default_left = Math.round($('#menu li.current').offset().left - $('#menu').offset().left);
                   default_width = $('#menu li.current').width();

                   $('#box').stop().animate({left: default_left}, {duration:1000, easing:effet});
                   $('#box .barre').stop().animate({width: default_width}, {duration:1000, easing:effet});
                });

            });
        </script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo"></div>
                <div id="menu">
                    <ul>
                        <li ${ ("home".equals(page) || !("ktlc".equals(page) || "player".equals(page) || "mapper".equals(page) || "statistics".equals(page))) ? out.print("class='current'") : "" }><a href="@{Application.index()}">&{'main.home'}</a></li>
                        <li ${ ("ktlc".equals(page)) ? out.print("class='current'") : "" }><a href="@{Application.ktlcs()}">&{'main.ktlcs'}</a></li>
                        <li ${ ("player".equals(page)) ? out.print("class='current'") : "" }><a href="@{Application.players()}">&{'main.players'}</a></li>
                        <li ${ ("mapper".equals(page)) ? out.print("class='current'") : "" }><a href="@{Application.mappers()}">&{'main.mappers'}</a></li>
                        <li ${ ("statistics".equals(page)) ? out.print("class='current'") : "" }><a href="@{Application.statistics()}">&{'main.stats'}</a></li>
                        <li><a href="http://forum.lsd-team.net">&{'main.forum'}</a></li>
                    </ul>
                    <div id="box">
                        <div class="barre"></div>
                    </div>
                </div>
            </div>
            #{doLayout /}
        </div>
        <div id="footer_wrapper">
            <div id="footer">
                <a href="@{Application.index()}">&{'main.home'}</a> | <a href="@{Application.ktlcs()}">&{'main.ktlcs'}</a> | <a href="@{Application.players()}">&{'main.players'}</a> | <a href="@{Application.mappers()}">&{'main.mappers'}</a> | <a href="@{Application.statistics()}">&{'main.stats'}</a> | <a href="http://forum.lsd-team.net">&{'main.forum'}</a> | <a href="@{CRUD.index()}">&{'main.admin'}</a> | #{a @Application.changeLocale("en", request.url)}EN#{/a}/#{a @Application.changeLocale("fr", request.url)}FR#{/a}
                <div class="cleaner h10"></div>
                Copyright © 2012 <a href="http://www.lsd-team.net">lsd-team.net</a>
                <div class="cleaner"></div>
            </div>
        </div>
    </body>
</html>
